<p style="color: green"><%= notice %></p>

<h1>Notes</h1>

<div class="container">
  <div class="row">
    <% @notes.each do |note| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= note.title %></h5>
            <p class="card-text"><%= truncate(note.content, length: 100) %></p>
            <p class="card-text"><small class="text-muted">Topic: <%= note.topic_name %></small></p>
            <p class="card-text"><small class="text-muted">Created At: <%= note.created_at.strftime("%B %d, %Y") %></small></p>
            <a href="<%= note_path(note) %>" class="btn btn-primary">Show this note</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= link_to "New note", new_note_path, class: "btn btn-success mt-4" %>
