<p style="color: green"><%= notice %></p>

<div class="container mt-4 d-flex justify-content-center">
  <div class="card position-relative border-success mb-3" style="width: 75%;">
    <div class="card-body">
      <%= render @note %>

      <!-- Show image -->
      <center>
        <% if @note.note_image.attached? %>
          <%= image_tag url_for(@note.note_image), alt: @note.title, class: "img-fluid", style: "max-width: 100%; padding: 10px;" %>
        <% else %>
          <p>No image available</p>
        <% end %>
      </center>

      <!-- Top right corner buttons -->
      <div class="position-absolute" style="top: 10px; right: 10px;">
        <div class="d-inline-block">
          <%= link_to edit_note_path(@note), class: "text-primary me-2" do %>
            <i class="fa-solid fa-pen-to-square"></i>
          <% end %>
        </div>
        <div class="d-inline-block">
          <%= link_to @note, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "text-primary me-2" do %>
            <i class="fa-solid fa-trash"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
