<% if follow_request.recipient_username == current_user.username || follow_request.sender_username == current_user.username %>
  <% if follow_request.recipient_username == current_user.username %>
    <div id="<%= dom_id follow_request %>">

      <%= print(follow_request.recipient_username == current_user.username ? "received request" : "sent request")%>

      <p>
        <strong>Sender:</strong>
        <%= follow_request.sender_username %>
      </p>

    <% elsif follow_request.sender_username == current_user.username%>
      <%= print(follow_request.recipient_username == current_user.username ? "received request" : "sent request") %>

      <p>
        <strong>Recipient:</strong>
        <%= follow_request.recipient_username %>
      </p>

    <% end %>

    <!--show details-->
    <p class="mt-3">
      <%= link_to "Show this follow request", follow_request, class: "btn btn-primary btn-sm" %>
    </p>

    <% if follow_request.recipient_username == current_user.username %>
      <a href="#">Accept</a> | 
      <%= link_to "Reject", follow_request, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "text-primary me-2" %>
    <% else %>
      <%= link_to "Unrequest", follow_request, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "text-primary me-2" %>
    <% end %>

  </div>
<% end %>
