<h1><%= current_user.username %>'s Friends</h1>

<div class="col-md-3">
  <%= link_to "Back to topics", topics_path(topic_type: params[:topic_type], display_as: params[:display_as]) %>
</div>

<!-- Order friends by usernames -->
<% friends = FollowRequest.where(status: "Accepted")
                           .where("sender_id = ? OR recipient_id = ?", current_user.id, current_user.id)
                           .joins("INNER JOIN users ON users.id = CASE WHEN sender_id = #{current_user.id} THEN recipient_id ELSE sender_id END")
                           .order("users.username ASC") %>

<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <%= form_with url: share_topic_path(@topic), method: :post do |f| %>
        <div class="table-responsive">
          <table id="friends-table" class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col">
                  Username
                </th>
                <th scope="col">
                  Email
                </th>
                <th scope="col">
                  Created At
                </th>
                <th scope="col">
                  Modified At
                </th>
                <th scope="col">Select</th>
              </tr>
            </thead>
            <tbody>
              <% friends.each do |request| %>
                <% friend = request.sender_id == current_user.id ? User.find(request.recipient_id) : User.find(request.sender_id) %>
                <% shared = SharedTopic.exists?(topic_id: @topic.to_i, user_id: current_user.id, shared_user_id: friend.id) %>
                <tr>
                  <td><%= friend.username %></td>
                  <td><%= friend.email %></td>
                  <td><%= friend.created_at.strftime("%B %d, %Y") %></td>
                  <td><%= friend.updated_at.strftime("%B %d, %Y") %></td>
                  <td><%= f.check_box :shared_user_ids, { multiple: true, checked: shared }, friend.id, nil %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <%= f.submit "Share Selected", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

<!-- Add custom styles inline or in your external stylesheet -->
<style>
  /* Custom styling for the table header */
  #friends-table thead {
    background-color: #343a40; /* Bootstrap's dark color */
    color: white;
  }

  /* Custom styling for table hover effect */
  #friends-table tbody tr:hover {
    background-color: #f8f9fa; /* Light background on hover */
  }
</style>
