<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>

    <!-- Bootstrap 4.0 CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">

    <!-- Bootstrap Toggle CSS -->
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
  </head>
  <body>

    <p class="text-success"><%= notice %></p>

    <div class="container-fluid mt-4">
      <div class="row mt-4">
        <!-- Left column with Search Form in Dropdown -->
        <div class="col-md-4">

        </div>
      </div>

      <!-- Center column for pagination -->
      <div class="col-md-4 d-flex justify-content-center">
        <nav aria-label="Page navigation example">
          <ul class="pagination mb-0">
            <%= paginate @topics, theme: 'bootstrap-4' %>
          </ul>
        </nav>
      </div>

      <br>
      <br>

      <%= render 'shared/display_table', table_name: @sort_topics, data_type: "topic", topic_type: params[:topic_type] %>

    </div>

    <!-- Bootstrap 4.0 JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

  </body>
</html>
