<div class="col-md-4">
  <%= form_with url: search_path, method: :get, local: true, class: "form-inline" do %>
    <div class="form-group mr-2">
      <%= label_tag :all_fields, "All Fields", class: "sr-only" %>
      <%= text_field_tag :all_fields, params[:all_fields], class: "form-control mr-2", placeholder: "All Fields" %>
    </div>
    <div class="form-group mr-2">
      <%= label_tag :topic_name_cont, "Topic contains", class: "sr-only" %>
      <%= text_field_tag :topic_name_cont, params[:topic_name_cont], class: "form-control mr-2", placeholder: "Topic" %>
    </div>
    <div class="form-group mr-2">
      <%= label_tag :title_cont, "Title contains", class: "sr-only" %>
      <%= text_field_tag :title_cont, params[:title_cont], class: "form-control mr-2", placeholder: "Title" %>
    </div>
    <div class="form-group mr-2">
      <%= label_tag :content_cont, "Content contains", class: "sr-only" %>
      <%= text_field_tag :content_cont, params[:content_cont], class: "form-control mr-2", placeholder: "Content" %>
    </div>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
</div>
