<%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>

<div class="table-responsive">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <!-- Adding inline styles for white font color and sort links with icons -->
        <th scope="col" style="color: white;">
          <%= link_to "Title".html_safe + (params[:sort] == 'title' && params[:direction] == 'asc' ? ' ▼' : ''), { sort: 'title', direction: (params[:sort] == 'title' && params[:direction] == 'asc' ? 'desc' : 'asc') }, data: { turbo_frame: "_top" } %>
        </th>
        <th scope="col" style="color: white;">
          <%= link_to "Created At".html_safe + (params[:sort] == 'created_at' && params[:direction] == 'asc' ? ' ▼' : ''), { sort: 'created_at', direction: (params[:sort] == 'created_at' && params[:direction] == 'asc' ? 'desc' : 'asc') }, data: { turbo_frame: "_top" } %>
        </th>
        <th scope="col" style="color: white;">Action</th>
      </tr>
    </thead>
    <tbody>
      <% notes.each do |note| %>
        <tr>
          <td><%= note.title %></td>
          <td><%= note.created_at.strftime("%B %d, %Y") %></td>
          <td>
            <%= link_to edit_note_path(note), method: :get, class: "btn" do %>
              <i class="fa-solid fa-pen-to-square"></i>
            <% end %>
            <%= link_to note, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn" do %>
              <i class="fa-solid fa-trash"></i>
            <%end%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
