<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- FontAwesome CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <style>
    /* Hide the checkbox */
    .toggle-star {
      display: none;
    }

    /* Default star color */
    .icon-star {
      color: purple; /* Color for the star when off */
      cursor: pointer;
      font-size: 24px;
      transition: color 0.3s;
    }

    /* Color change when checked */
    .toggle-star:checked + .icon-label .icon-star {
      color: purple; /* Color for the star when on */
    }
  </style>
</head>
<body>
  <div class="table-responsive">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col" style="color: white;">Name</th>
          <th scope="col" style="color: white;">Created At</th>
          <th scope="col" style="color: white;">Modified At</th>
          <th scope="col" style="color: white;">Author Email</th>
          <th scope="col" style="color: white;">Action</th>
        </tr>
      </thead>
      <tbody>
        <% table_name.each do |row| %>
          <tr>
            <% if data_type == "topic" %>
              <td>
                <%= link_to url_for([row, { topic_type: params[:topic_type], display_as: params[:display_as] }]), class: "btn", style: "color: blue; text-decoration: none;" do %>
                  <%= row.name %>
                <% end %>
              </td>
              <td><%= row.created_at.strftime("%B %d, %Y") %></td>
              <td><%= row.updated_at.strftime("%B %d, %Y") %></td>
              <td><%= row.author_email %></td>
              <td>
                <%= link_to edit_topic_path(row), class: "btn" do %>
                  <i class="fa-solid fa-pen-to-square"></i>
                <% end %>
                <%= link_to row, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn" do %>
                  <i class="fa-solid fa-trash"></i>
                <% end %>
                <%= link_to approved_requests_follow_requests_path(topic: row), class: "btn" do %>
                  <i class="fa-solid fa-share-nodes"></i>
                <% end %>
                <!-- Checkbox and label for star toggle -->
                <input type="checkbox" id="star-toggle-<%= row.id %>" class="toggle-star">
                <label for="star-toggle-<%= row.id %>" class="icon-label">
                  <i class="fa-regular fa-star icon-star" id="star-icon-<%= row.id %>"></i>
                </label>
              </td>
            <% else %>
              <td><%= row.title %></td>
              <td><%= row.created_at.strftime("%B %d, %Y") %></td>
              <td><%= row.updated_at.strftime("%B %d, %Y") %></td>
              <td>
                <%= link_to url_for([row, { topic_type: params[:topic_type], display_as: params[:display_as] }]), class: "btn" do %>
                  <i class="fa-solid fa-eye"></i>
                <% end %>
                <%= link_to edit_topic_path(row), class: "btn" do %>
                  <i class="fa-solid fa-pen-to-square"></i>
                <% end %>
                <%= link_to row, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn" do %>
                  <i class="fa-solid fa-trash"></i>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <script>
    document.querySelectorAll('.toggle-star').forEach(checkbox => {
      checkbox.addEventListener('change', function() {
        const starIcon = document.getElementById('star-icon-' + this.id.split('-').pop());
        if (this.checked) {
          starIcon.classList.remove('fa-regular');
          starIcon.classList.add('fa-solid');
        } else {
          starIcon.classList.remove('fa-solid');
          starIcon.classList.add('fa-regular');
        }
      });
    });
  </script>
</body>
</html>
