<%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>

<div class="table-responsive">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col" style="color: white;">
          Title
        </th>
        <th scope="col" style="color: white;">
          Created At
        </th>
        <th scope="col" style="color: white;">
          Modified At
        </th>
        <th scope="col" style="color: white;">Action</th>
      </tr>
    </thead>
    <tbody>
      <% notes.each do |note| %>
        <tr>
          <td>
            <%= link_to url_for([note, { display_as: params[:display_as] }]), class: "btn", style: "color: blue; text-decoration: none;" do %>
              <%= note.title %>
            <% end %>
          </td>
          <td><%= note.created_at.strftime("%B %d, %Y") %></td>
          <td><%= note.updated_at.strftime("%B %d, %Y") %></td>
          <td>
            <%= link_to url_for([note, { display_as: params[:display_as] }]), class: "btn" do %>
              <i class="fa-solid fa-eye"></i>
            <% end %>
            <%= link_to edit_note_path(note, topic_type: params[:topic_type]), method: :get, class: "btn" do %>
              <i class="fa-solid fa-pen-to-square"></i>
            <% end %>
            <%= link_to note, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn" do %>
              <i class="fa-solid fa-trash"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
