<%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>

<div class="table-responsive">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <!-- Adding inline styles for white font color and sort links with icons -->
        <th scope="col" style="color: white;">
          <%= link_to "Name".html_safe + (params[:sort] == 'name' && params[:direction] == 'asc' ? ' ▼' : ' ▲'), { sort: 'name', direction: (params[:sort] == 'name' && params[:direction] == 'asc' ? 'desc' : 'asc') }, data: { turbo_frame: "_top" } %>
        </th>
        <th scope="col" style="color: white;">
          <%= link_to "Created At".html_safe + (params[:sort] == 'created_at' && params[:direction] == 'asc' ? ' ▼' : ' ▲'), { sort: 'created_at', direction: (params[:sort] == 'created_at' && params[:direction] == 'asc' ? 'desc' : 'asc') }, data: { turbo_frame: "_top" } %>
        </th>
        <th scope="col" style="color: white;">
          <%= link_to "Modified At".html_safe + (params[:sort] == 'updated_at' && params[:direction] == 'asc' ? ' ▼' : ' ▲'), { sort: 'updated_at', direction: (params[:sort] == 'updated_at' && params[:direction] == 'asc' ? 'desc' : 'asc') }, data: { turbo_frame: "_top" } %>
        </th>
        <th scope="col" style="color: white;">Action</th>
      </tr>
    </thead>
    <tbody>
      <% table_name.each do |row| %>
        <tr>
          <% if data_type == "topic" %>
            <td><%= row.name %></td>
            <td><%= row.created_at.strftime("%B %d, %Y") %></td>
            <td><%= row.updated_at.strftime("%B %d, %Y") %></td>
            <td>
              <%= link_to url_for([row, { topic_type: params[:topic_type], display_as: params[:display_as] }]), class: "btn" do %>
                <i class="fa-solid fa-eye"></i>
              <% end %>
              <%= link_to edit_topic_path(row), class: "btn" do %>
                <i class="fa-solid fa-pen-to-square"></i>
              <% end %>
              <%= link_to row, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn" do %>
                <i class="fa-solid fa-trash"></i>
              <% end %>
              <%= link_to approved_requests_follow_requests_path(topic: row), class: "btn" do %>
                <i class="fa-solid fa-share-nodes"></i>
              <% end %>
            </td>
          <% else %>
            <td><%= row.title %></td>
            <td><%= row.created_at.strftime("%B %d, %Y") %></td>
            <td><%= row.updated_at.strftime("%B %d, %Y") %></td>
            <td>
              <%= link_to url_for([row, { topic_type: params[:topic_type], display_as: params[:display_as] }]), class: "btn" do %>
                <i class="fa-solid fa-eye"></i>
              <% end %>
              <%= link_to edit_topic_path(row), class: "btn" do %>
                <i class="fa-solid fa-pen-to-square"></i>
              <% end %>
              <%= link_to row, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn" do %>
                <i class="fa-solid fa-trash"></i>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
