<!--ref.: https://medium.com/swlh/using-rails-and-html-to-view-sort-and-search-tables-fbf8a0543558-->

<%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>

<div class="table-responsive">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col"><%= link_to "Id", :sort => "id"%>
        <th scope="col"><%= link_to "Name", :sort => "name"%></th>
        <th scope="col"><%= link_to "Created At", :sort => "created_at"%></th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @sort_topics.each do |topic| %>
        <tr>
          <th scope="row"><%= topic.id %></th>
          <td><%= topic.name %></td>
          <td><%= topic.created_at.strftime("%B %d, %Y") %></td>
          <td>
            <a href="<%= topic_path(topic) %>" class="btn btn-primary btn-sm">
              <i class="fa-solid fa-eye"></i> View
            </a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
