<!-- Ask the chatbot -->
<h1>Search noTes</h1>

<center>
  <div class="col-md-4">
    <%= search_form_for @q, url: notes_path, method: :get, html: { class: "form-inline" } do |f| %>
      <div class="form-group mr-2">
        <%= f.label :topic_name_cont, "Topic contains", class: "sr-only" %>
        <%= f.search_field :topic_name_cont, class: "form-control mr-2", placeholder: "Topic" %>
      </div>
      <div class="form-group mr-2">
        <%= f.label :title_cont, "Title contains", class: "sr-only" %>
        <%= f.search_field :title_cont, class: "form-control mr-2", placeholder: "Title" %>
      </div>
      <div class="form-group mr-2">
        <%= f.label :content_cont, "Content contains", class: "sr-only" %>
        <%= f.search_field :content_cont, class: "form-control mr-2", placeholder: "Content" %>
      </div>
      <%= f.submit "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
</center>
