<!DOCTYPE html>
<html>
  <head>
    <title>notes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render partial: "shared/cdn_assets" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= javascript_include_tag "note_preview" %>

    <style>
      .flash-message {
        z-index: 1000; /* Lower than the dropdown menu */
        position: relative; /* Ensure z-index is applied */
      }
    </style>

  </head>

  <body>
    <%= render partial: "shared/navbar" %>

    <div class="container flash-message">
      <% if notice.present? %>
        <%= render partial: "shared/flash", locals: { message: notice, css_class: "success" } %>
      <% end %>

      <% if alert.present? %>
        <%= render partial: "shared/flash", locals: { message: alert, css_class: "danger" } %>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
